.Padding0px{
padding: 0px !important;	
}

/* BOOK CSS */

/*******  ******  **    **  ********  ********   ********  ******  ******** 
   **     **       **  **      **     **    **   **    **  **      **    ** 
   **     ******    ****       **     ********   ********  ******  ******** 
   **     **       **  **      **     **    **   **  **    **      **    ** 
   **     ******  **    **     **     **    **   **    **  ******  **    */ 
                                                
.TextArea450x100{
	max-width: 450px;
	min-width: 450px;
	max-height: 100px;
	min-height: 100px;
	font-family: Verdana,sans-serif;
    font-size: 10px;
    font-weight: normal;
	border: 1px solid #C5DBEC;
	background-color: #FFFFFF;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	overflow: hidden;
}

/*****  **    **  ***    **  ******    ********   ******
**      **    **  ** *   **  **   **   **    **   *     
******  **    **  **  *  **  **    **  **	  **  ****** 
**      **    **  **   * **  **   **   **    **       ** 
**      ********  **    ***  ******    ********   *****/ 
  
.FundoBranco{
	background: #FFFFFF !important;
}
.FundoPreto{
	background-color: #000000;	
}
.FundoTransparente{
	background-color: transparent !important;
}

/*******  **      **  ******  ********  ******  **      ********  *         *       
**    **   **    **   **      **    **  **      **      **    **  **       **      
**    **    **  **    ******  ********  ******  **      **	  **   **  *  **     
**    **     ****     **      **  **    **      **      **    **    *******     
********      **      ******  **    **  **      ******  ********     ** */     
          
.OverflowHidden{
	overflow: hidden !important;	
}
.OverflowAuto{
	overflow: auto !important;	
}
.OverflowVerticalAuto{
	overflow-y: auto !important;
	overflow-x: hidden !important;	
}

/*******  ******** *******  **  ******  **  ********  ***    **  ********  ***    ***  ******  ***    **  ********  ********   ****** 
**    **  **    ** **       **  **      **  **    **  ** *   **  **    **  ** *  * **  **      ** *   **     **     **    **   *      
********  **    ** *******  **  **      **  **    **  **  *  **  ********  **  **  **  ******  **  *  **     **     **	  **  ****** 
**        **    ** 	    **  **  **      **  **    **  **   * **  **    **  **      **  **      **   * **     **     **    **       ** 
**        ******** *******  **  ******  **  ********  **    ***  **    **  **      **  ******  **    ***     **     ********   *****/

.PositionRelative{
	position: relative;	
}
.PositionRelativeFloatLeft{
	position: relative;
	float: left;	
}
.PositionRelativeFloatRight{
	position: relative;
	float: right;	
}
.FloatLeft{
	float: left;	
}
.FloatRight{
	float: right;	
}

.TextAlignRight{
	text-align: right;	
}
.TextAlignCenter{
	text-align: center;	
}
.TextAlignLeft{
	text-align: left;	
}

/****    ********  ********  ******    ********  *******  
**   **  **    **  **    **  **   **   **    **  **     
*****    **    **  ********  **    **  ********  *******
**   **  **    **  **  **    **   **   **    **  	  **
******   ********  **    **  ******    **    **  ******/

.BordaOff{
	border: 0px !important;
	outline: none !important;
	outline-style: none !important;	
}
.BordaAzul {
	border: 1px solid #C5DBEC;
}
.BordaVermelha{
	border: 1px solid #FF0000;	
}
.BordaPreta{
	border: 1px solid #000000;	
}
.BordaVerde{
	border: 1px solid #00FF00;
}
.BordaAmarela{
	border: 1px solid #00FF00	
}
.BordaRoxa{
	border: 1px solid #9900FF;	
}
.BordaInferiorAzul{
	border-bottom: 2px solid #336699;	
}

/*****  ********  ***    ***  ********  ********    ******    ********  **  ********  **    **  **      ********   
**      **    **  ** *  * **  **    **  **    **    **           **     **     **     **    **  **      **    **
**      ********  **  **  **  ********  **    **    ******       **     **     **     **    **  **      **	  **
**      **    **  **      **  **        **    **    **           **     **     **     **    **  **      **    **
******  **    **  **      **  **        ********    ******       **     **     **     ********  ******  *******/

.GrupoTituloCampo{
	position: relative;
	float: left;
	margin-right: 5px;
}
.TituloDeCampo{
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana, sans-serif !important;
	color: #2E6E9E;
}
.Campo{
	background-color: #FFFFFF;
	height: 15px;
	font-family: Verdana,sans-serif;
    font-size: 10px;
    font-weight: normal;
    border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	/*padding-left: 4px;*/
}
.CampoDesabilitado{
	background-color: #F0F0F0;
	height: 15px;
	font-family: Verdana,sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #666666;
    border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	/*padding-left: 4px;*/
}
.ComboField{
	margin: 0px;
	height: 20px;
	border: 1px solid #C5DBEC;
	background-color: #FFFFFF !important;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	font-size: 10px !important;
	padding: 2px !important;
}
.MultipleComboField{
	background-color: #FFFFFF;
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px !important;
	-webkit-border-radius: 5px 5px 5px 5px !important;
	border-radius: 5px !important;
	font-family: Verdana,sans-serif;
    font-size: 10px;
    font-weight: normal;
}
.MensagemDeErro{
	color: #FF0000;
	font-weight: bold;
}

/*******  **      **  ***    ** **    **  ********  ***    ***  ******  ***    **  ******** ********  ****** 
**    **  **      **  ** *   ** **    **  **    **  ** *  * **  **      ** *   **     **    **    **  *      
********  **      **  **  *  ** ********  ********  **  **  **  ******  **  *  **     **    **	  **  ****** 
**    **  **      **  **   * ** **    **  **    **  **      **  **      **   * **     **    **    **      ** 
**    **  ******  **  **    *** **    **  **    **  **      **  ******  **    ***     **    ********  *****/ 
                                                                 
.AlignLeft{               
	text-align: left;	  
}                         
.AlignCenter {            
	text-align: center;   
}                         
.AlignRight{                                                                               
	text-align: right;	  
}                         

/**    ***  ********  ********  ********  **  ***    **  *******
** *  * **  **    **  **    **  **        **  ** *   **  **     
**  **  **  ********  ********  **  ****  **  **  *  **  *******
**      **  **    **  **  **    **    **  **  **   * **       **
**      **  **    **  **    **  ********  **  **    ***  ******/

.Margin0px{
	margin: 0px;
}


.MarginLeftAuto{
	margin-left: auto;	
}
.MarginLeft-10px{
	margin-left: -10px;	
}
.MarginLeft2px{
	margin-left: 2px;
}
.MarginLeft3px{
	margin-left: 3px;
}
.MarginLeft5px{
	margin-left: 5px;
}
.MarginLeft10px{
	margin-left: 10px !important;
}
.MarginLeft12px{
	margin-left: 12px !important;
}
.MarginLeft13px{
	margin-left: 13px !important;
}
.MarginLeft18px{
	margin-left: 18px !important;
}
.MarginLeft20px{
	margin-left: 20px;
}
.MarginLeft28px{
	margin-left: 28px !important;
}
.MarginLeft30px{
	margin-left: 30px !important;
}
.MarginLeft50px{
	margin-left: 50px !important;
}
.MarginLeft52px{
	margin-left: 52px !important;
}
.MarginLeft53px{
	margin-left: 53px !important;
}
.MarginLeft55px{
	margin-left: 55px !important;
}
.MarginLeft63px{
	margin-left: 63px !important;
}
.MarginLeft70px{
	margin-left: 70px !important;
}
.MarginLeft100px{
	margin-left: 100px !important;
}
.MarginLeft150px{
	margin-left: 150px !important;
}
.MarginLeft300px{
	margin-left: 300px;
}




.MarginTop1px{
	margin-top: 1px;	
}
.MarginTop2px{
	margin-top: 2px;	
}
.MarginTop3px{
	margin-top: 3px;	
}
.MarginTop4px{
	margin-top: 4px;	
}
.MarginTop5px{
	margin-top: 5px;	
}
.MarginTop6px{
	margin-top: 6px;	
}
.MarginTop7px{
	margin-top: 7px;	
}
.MarginTop10px{
	margin-top: 10px;	
}
.MarginTop20px{
	margin-top: 20px;	
}
.MarginTop25px{
	margin-top: 25px;
}
.MarginTop75px{
	margin-top: 75px;
}




.MarginRightAuto{
	margin-right: auto;	
}
.MarginRight5px{
	margin-right: 5px;
}




.MargimBottom-5px{
	margin-bottom: -5px !important;
}
.MarginBottom5px{
	margin-bottom: 5px;
}
.MarginBottom10px{
	margin-bottom: 10px !important;
}
 
/*****  **  ******  **      ******    *******  ******  ********
**      **  **      **      **   **   **       **         **
******  **  ******  **      **    **  *******  ******     **
**      **  **      **      **   **   	   **  **         **
**      **  ******  ******  ******    *******  ******     */

.Fieldset200x150 {
	width: 200px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset210x150 {
	width: 210px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset230x150 {
	width: 210px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset230x150 {
	width: 230px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset240x150 {
	width: 240px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset250x150 {
	width: 250px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset260x150 {
	width: 260px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset270x150 {
	width: 270px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset270x150 {
	width: 270px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset260x150BaseQuadrada {
	width: 260px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset280x60 {
	width: 280px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset280x150 {
	width: 280px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset290x60 {
	width: 290px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset300x60 {
	width: 300px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset300x150 {
	width: 300px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset310x60 {
	width: 310px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset310x150 {
	width: 310px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset310x150BaseQuadrada {
	width: 310px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset320x50 {
	width: 320px;
	height: 50px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset320x60 {
	width: 320px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset320x150 {
	width: 320px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset350x60 {
	width: 350px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset350x150 {
	width: 350px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset350x180 {
	width: 350px;
	height: 180px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset360x150 {
	width: 360px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset370x50 {
	width: 370px;
	height: 50px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset380x60 {
	width: 380px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset370x150 {
	width: 370px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset393x150 {
	width: 393px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset400x60 {
	width: 400px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset400x150 {
	width: 400px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset400x180 {
	width: 400px;
	height: 180px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset400x270 {
	width: 400px;
	height: 270px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset400x270BaseQuadrada {
	width: 400px;
	height: 270px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset430x150 {
	width: 430px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset430x150BaseQuadrada {
	width: 430px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset440x260BaseQuadrada {
	width: 440px;
	height: 260px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset440x270BaseQuadrada {
	width: 440px;
	height: 270px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset440x150 {
	width: 440px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset470x130 {
	width: 470px;
	height: 130px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset470x190 {
	width: 470px;
	height: 190px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset510x60 {
	width: 510px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}

.Fieldset530x60 {
	width: 530px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset550x60 {
	width: 550px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset550x60BaseQuadrada {
	width: 550px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset550x100BaseQuadrada {
	width: 550px;
	height: 100px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset550x210BaseQuadrada {
	width: 550px;
	height: 210px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset560x60 {
	width: 560px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset570x60 {
	width: 570px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset580x60 {
	width: 580px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset580x120 {
	width: 580px;
	height: 120px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset580x180 {
	width: 580px;
	height: 180px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset580x240 {
	width: 580px;
	height: 240px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset590x60 {
	width: 590px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset590x150 {
	width: 590px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset600x120BaseQuadrada {
	width: 600px;
	height: 120px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset615x240 {
	width: 615px;
	height: 240px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset620x150 {
	width: 620px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset640x60 {
	width: 640px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset650x60 {
	width: 650px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset650x150 {
	width: 650px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset640x180 {
	width: 640px;
	height: 180px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset650x270BaseQuadrada {
	width: 650px;
	height: 270px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset660x60 {
	width: 660px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset660x150 {
	width: 660px;
	height: 150px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset680x100BaseQuadrada{
	width: 680px;
	height: 100px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset700x190{
	width: 700px;
	height: 190px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset720x145{
	width: 720px;
	height: 145px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset780x230{
	width: 780px;
	height: 230px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset780x230BaseQuadrada{
	width: 780px;
	height: 230px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset800x100BaseQuadrada {
	width: 800px;
	height: 100px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset820x220BaseQuadrada {
	width: 820px;
	height: 220px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset826x60 {
	width: 826px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset826x135 {
	width: 826px;
	height: 135px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset880x230{
	width: 880px;
	height: 230px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset900x190{
	width: 900px;
	height: 190px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset930x60{
	width: 930px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset930x220BaseQuadrada{
	width: 930px;
	height: 220px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset930x230BaseQuadrada {
	width: 930px;
	height: 230px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset930x290BaseQuadrada {
	width: 930px;
	height: 290px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset930x380BaseQuadrada {
	width: 930px;
	height: 380px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset930x390BaseQuadrada {
	width: 930px;
	height: 390px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset940x230BaseQuadrada {
	width: 940px;
	height: 230px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset945x60{
	width: 945px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset945x100{
	width: 945px;
	height: 100px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset950x60 {
	width: 950px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fieldset950x60BaseQuadrada {
	width: 950px;
	height: 60px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;	
}
.Fielset950x140BaseQuadrada{
	width: 950px; 
	height: 140px;
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fielset950x175BaseQuadrada{
	width: 950px; 
	height: 175px;
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fielset960x175BaseQuadrada{
	width: 960px; 
	height: 175px;
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fielset960x210BaseQuadrada{
	width: 960px; 
	height: 210px;
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fielset960x220{
	width: 960px; 
	height: 220px;
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fielset960x220BaseQuadrada{
	width: 960px; 
	height: 220px;
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fielset960x370BaseQuadrada{
	width: 960px; 
	height: 370px;
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fielset960BaseQuadradaFloatNone{
	width: 960px; 
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	padding: 0px;
}
.Fielset960x450BaseQuadrada{
	width: 960px; 
	height: 450px;
	border: 1px solid #C5DBEC;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset970x390BaseQuadrada{
	width: 970px;
	height: 390px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	border: 1px solid #C5DBEC;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset970x220BaseQuadrada{
	width: 970px;
	height: 220px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	border: 1px solid #C5DBEC;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset980x60{
	width: 980px;
	height: 60px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	border: 1px solid #C5DBEC;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset980x90BaseQuadrada{
	width: 980px;
	height: 90px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	border: 1px solid #C5DBEC;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset980x200{
	width: 980px;
	height: 200px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	border: 1px solid #C5DBEC;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset980x215{
	width: 980px;
	height: 215px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	border: 1px solid #C5DBEC;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset980x250{
	width: 980px;
	height: 250px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px !important;
	border: 1px solid #C5DBEC;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset980x270BaseQuadrada{
	width: 980px;
	height: 270px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	border: 1px solid #C5DBEC;
	position: relative;
	float: left;
	padding: 0px;
}
.Fieldset990x220BaseQuadrada{
	width: 990px;
	height: 220px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px !important;
	border: 1px solid #C5DBEC;
	position: relative;
	float: left;
	padding: 0px;
}

/*******  **     ********  **    ** ********  ********  *******
**    **  **        **     **    ** **    **  **    **  **     
********  **        **     **    ** ********  ********  *******
**    **  **        **     **    ** **  **    **    **  	 **
**    **  ******    **     ******** **    **  **    **  ******/

.Altura100pc {	
	height: 100%;
}
.Altura20px {
	height: 20px;
}
.Altura25px {
	height: 25px;
}
.Altura30px {
	height: 30px;
}
.Altura35px {
	height: 35px;
}
.Altura38px {
	height: 38px;
}
.Altura40px {
	height: 40px;
}
.Altura45px {
	height: 45px;
}
.Altura50px{
	height: 50px;
}
.Altura60px{
	height: 60px;
}
.Altura70px{
	height: 70px;
}
.Altura75px{
	height: 75px;
}
.Altura80px{
	height: 80px;
}
.Altura90px{
	height: 90px;
}
.Altura100px{
	height: 100px;
}
.Altura120px{
	height: 120px;
}
.Altura130px{
	height: 130px;
}
.Altura140px{
	height: 140px;
}
.Altura145px{
	height: 145px;
}
.Altura150px{
	height: 150px;
}
.Altura160px{
	height: 160px;
}
.Altura170px{
	height: 170px;
}
.Altura180px{
	height: 180px;
}
.Altura185px{
	height: 185px;
}
.Altura190px{
	height: 190px;
}
.Altura200px{
	height: 200px;
}
.Altura210px{
	height: 210px;
}
.Altura220px{
	height: 220px;
}
.Altura230px{
	height: 230px;
}
.Altura237px{
	height: 237px;
}
.Altura240px{
	height: 240px;
}
.Altura250px{
	height: 250px;
}
.Altura260px{
	height: 260px;
}
.Altura265px{
	height: 265px;
}
.Altura270px{
	height: 270px;
}
.Altura280px{
	height: 280px;
}
.Altura285px{
	height: 285px;
}
.Altura290px{
	height: 290px;
}
.Altura300px{
	height: 300px;
}
.Altura305px{
	height: 305px;
}
.Altura310px{
	height: 310px;
}
.Altura320px{
	height: 320px;
}
.Altura340px{
	height: 340px;
}
.Altura350px{
	height: 350px;
}
.Altura380px{
	height: 380px;
}
.Altura390px{
	height: 390px;
}
.Altura410px{
	height: 410px;
}
.Altura420px{
	height: 420px;
}
.Altura425px{
	height: 425px;
}
.Altura430px{
	height: 430px;
}
.Altura450px{
	height: 450px;
}
.Altura600px{
	height: 600px;
}

/*      ********  ********  ********  **    **  ********  ********  *******
**      **    **  **    **  **        **    **  **    **  **    **  **     
**      ********  ********  **  ****  **    **  ********  ********  *******
**      **    **  **  **    **    **  **    **  **  **    **    **  	 **
******  **    **  **    **  ********  ********  **    **  **    **  ******/

.Largura100pc{
	width: 100%;
}
.Largura20px{
	width: 20px;	
}
.Largura25px{
	width: 25px;	
}
.Largura30px{
	width: 30px;	
}
.Largura35px{
	width: 35px;	
}
.Largura40px{
	width: 40px;	
}
.Largura45px{
	width: 45px;	
}
.Largura50px{
	width: 50px;	
}
.Largura55px{
	width: 55px;	
}
.Largura60px{
	width: 60px;	
}
.Largura65px{
	width: 65px;	
}
.Largura70px{
	width: 70px;	
}
.Largura75px{
	width: 75px;	
}
.Largura80px{
	width: 80px;	
}
.Largura85px{
	width: 85px;	
}
.Largura90px{
	width: 90px;	
}
.Largura95px{
	width: 95px;	
}
.Largura99px{
	width: 99px;	
}
.Largura100px{
	width: 100px;	
}
.Largura105px{
	width: 105px;	
}
.Largura110px{
	width: 110px;	
}
.Largura115px{
	width: 115px;	
}
.Largura120px{
	width: 120px;	
}
.Largura125px{
	width: 125px;	
}
.Largura130px{
	width: 130px;	
}
.Largura140px{
	width: 140px;	
}
.Largura145px{
	width: 145px;	
}
.Largura147px{
	width: 147px;	
}
.Largura148px{
	width: 148px;	
}
.Largura150px{
	width: 150px;	
}
.Largura152px{
	width: 152px;	
}
.Largura153px{
	width: 153px;	
}
.Largura155px{
	width: 155px;	
}
.Largura160px{
	width: 160px;	
}
.Largura166px{
	width: 166px;	
}
.Largura170px{
	width: 170px;	
}
.Largura178px{
	width: 178px;	
}
.Largura180px{
	width: 180px;	
}
.Largura185px{
	width: 185px;	
}
.Largura190px{
	width: 190px;		
}
.Largura196px{
	width: 196px;	
}
.Largura198px{
	width: 198px;	
}
.Largura200px{
	width: 200px;	
}
.Largura205px{
	width: 205px;	
}
.Largura210px{
	width: 210px;	
}
.Largura218px{
	width: 218px;	
}
.Largura220px{
	width: 220px;	
}
.Largura230px{
	width: 230px;	
}
.Largura238px{
	width: 238px;	
}
.Largura240px{
	width: 240px;	
}
.Largura248px{
	width: 248px;	
}
.Largura250px{
	width: 250px;	
}
.Largura258px{
	width: 258px;	
}
.Largura260px{
	width: 260px;	
}
.Largura265px{
	width: 265px;	
}
.Largura270px{
	width: 270px;	
}
.Largura272px{
	width: 272px;	
}
.Largura278px{
	width: 278px;	
}
.Largura280px{
	width: 280px;
}
.Largura290px{
	width: 290px;	
}
.Largura298px{
	width: 298px;	
}
.Largura300px{
	width: 300px;
}
.Largura310px{
	width: 310px;	
}
.Largura318px{
	width: 318px;	
}
.Largura320px{
	width: 320px;	
}
.Largura328px{
	width: 328px;	
}
.Largura330px{
	width: 330px;	
}
.Largura340px{
	width: 340px;	
}
.Largura347px{
	width: 347px;	
}
.Largura348px{
	width: 348px;	
}
.Largura350px{
	width: 350px;	
}
.Largura360px{
	width: 360px;	
}
.Largura370px{
	width: 370px;	
}
.Largura375px{
	width: 375px;	
}
.Largura378px{
	width: 378px;	
}
.Largura380px{
	width: 380px;	
}
.Largura385px{
	width: 385px;	
}
.Largura390px{
	width: 390px;	
}
.Largura398px{
	width: 398px;	
}
.Largura400px{
	width: 400px;	
}
.Largura408px{
	width: 408px;	
}
.Largura410px{
	width: 410px;	
}
.Largura412px{
	width: 412px;	
}
.Largura428px{
	width: 428px;	
}
.Largura430px{
	width: 430px;	
}
.Largura440px{
	width: 440px;	
}
.Largura450px{
	width: 450px;
}
.Largura460px{
	width: 460px;	
}
.Largura472px{
	width: 472px;	
}
.Largura498px{
	width: 498px;	
}
.Largura500px{
	width: 500px;	
}
.Largura510px{
	width: 510px;
}
.Largura516px{
	width: 516px;
}
.Largura529px{
	width: 529px;
}
.Largura535px{
	width: 535px;	
}
.Largura545px{
	width: 545px;	
}
.Largura550px{
	width: 550px;	
}
.Largura560px{
	width: 560px;	
}
.Largura568px{
	width: 568px;	
}
.Largura570px{
	width: 570px;	
}
.Largura580px{
	width: 580px;	
}
.Largura598px{
	width: 598px;	
}
.Largura600px{
	width: 600px;	
}
.Largura620px{
	width: 620px;	
}
.Largura628px{
	width: 628px;	
}
.Largura630px{
	width: 630px;	
}
.Largura638px{
	width: 638px;	
}
.Largura640px{
	width: 640px;	
}
.Largura650px{
	width: 650px;	
}
.Largura680px{
	width: 680px;	
}
.Largura698px{
	width: 698px;	
}
.Largura700px{
	width: 700px;	
}
.Largura723px{
	width: 723px;
}
.Largura747px{
	width: 747px;
}
.Largura750px{
	width: 750px;
}
.Largura778px{
	width: 778px;
}
.Largura780px{
	width: 780px;
}
.Largura800px{
	width: 800px;	
}
.Largura820px{
	width: 820px;	
}
.Largura850px{
	width: 850px;	
}
.Largura868px{
	width: 868px;	
}
.Largura878px{
	width: 878px;	
}
.Largura900px{
	width: 900px;
}
.Largura920px{
	width: 920px;
}
.Largura927px{
	width: 927px;
}
.Largura930px{
	width: 930px;
}
.Largura935px{
	width: 935px;
}
.Largura940px{
	width: 940px;
}
.Largura950px{
	width: 950px;
}
.Largura958px{
	width: 958px;
}
.Largura960px{
	width: 960px;
}
.Largura965px{
	width: 965px;
}
.Largura970px{
	width: 970px;
}
.Largura980px{
	width: 980px;
}
.Largura988px{
	width: 988px;
}


/*      **  ***    **  **    **  ********  *******
**      **  ** *   **  **    **  **    **  **
**      **  **  *  **  ********  ********  *******
**      **  **   * **  **    **  **    **  	    **
******  **  **    ***  **    **  **    **  ******/

.Linha270x38{
	width: 270px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha280x38{
	width: 280px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha310x38{
	width: 310px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha350x38{
	width: 350px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha380x38{
	width: 380px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha420x38{
	width: 420px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha450x160{
	width: 450px;
	height: 160px;
	position: relative;
	float: left;
}
.Linha500x38{
	width: 500px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha505x38{
	width: 505px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha510x38{
	width: 510px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha520x38{
	width: 520px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha530x38{
	width: 530px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha540x38{
	width: 540px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha550x38{
	width: 550px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha570x38{
	width: 570px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha580x38{
	width: 580px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha590x38{
	width: 590px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha610x38{
	width: 610px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha620x38{
	width: 620px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha660x38{
	width: 660px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha680x25{
	width: 680px;
	height: 25px;
	position: relative;
	float: left;
}
.Linha770x38{
	width: 770px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha780x38{
	width: 780px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha785x38{
	width: 785px;
	height: 38px;
	position: relative;
	float: left; 
}
.Linha800x38{
	width: 800px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha810x38{
	width: 810px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha880x38{
	width: 880px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha880x160{
	width: 880px;
	height: 160px;
	position: relative;
	float: left;
}
.Linha900x38{
	width: 900px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha900x75{
	width: 900px;
	height: 75px;
	position: relative;
	float: left;
}
.Linha920x38{
	width: 920px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha930x38{
	width: 930px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha940x30{
	width: 940px;
	height: 30px;
	position: relative;
	float: left;
}
.Linha940x38{
	width: 940px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha940x90{
	width: 940px;
	height: 90px;
	position: relative;
	float: left;
}
.Linha940x160{
	width: 940px;
	height: 160px;
	position: relative;
	float: left;
}
.Linha950x38{
	width: 950px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha960x38{
	width: 960px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha930x90{
	width: 930px;
	height: 90px;
	position: relative;
	float: left;
}
.Linha930x160{
	width: 930px;
	height: 160px;
	position: relative;
	float: left;
}
.Linha960x90{
	width: 960px;
	height: 90px;
	position: relative;
	float: left;
}
.Linha960x125{
	width: 960px;
	height: 125px;
	position: relative;
	float: left;
}
.Linha960x160{
	width: 960px;
	height: 160px;
	position: relative;
	float: left;
}
.Linha960x200{
	width: 960px;
	height: 200px;
	position: relative;
	float: left;
}
.Linha960x215{
	width: 960px;
	height: 215px;
	position: relative;
	float: left;
}
.Linha960x260{
	width: 960px;
	height: 260px;
	position: relative;
	float: left;
}
.Linha970x38{
	width: 970px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha990x25{
	width: 990px;
	height: 25px;
	position: relative;
	float: left;
}
.Linha990x30{
	width: 990px;
	height: 30px;
	position: relative;
	float: left;
}
.Linha990x38{
	width: 990px;
	height: 38px;
	position: relative;
	float: left;
}
.Linha990x110{
	width: 990px;
	height: 110px;
	position: relative;
	float: left;
}
.Linha990x160{
	width: 990px;
	height: 160px;
	position: relative;
	float: left;
}